<section id="involved" class="max-w-3xl mx-auto p-6">
    <h2 class="text-3xl font-bold mb-4">Get involved</h2>
    <p>Intentional Innovation Foundation believes that developing the leaders of the future technology workforce requires a culture shift that makes engineering “cool” again. We find that the most powerful way to engage K-12 students in STEM is to provide an environment that allows them to experience science and math as a thrilling, challenging competition.</p>

    <h3>Become a partner</h3>
    <p>Intentional Innovation Foundation seeks to form strategic alliances with major partners to together bolster our mutual efforts to develop the next generation of engineers, scientists, and technologists. Please contact us to learn how to become a partner to Intentional Innovation Foundation.</p>

    <h3>Donate</h3>
    <p>We appreciate your tax-deductible donation, which will improve our ability to deliver high-quality introductory experiences in STEM to students across our Hampton Roads region.</p>

    <h3>Join our team</h3>
    <p>Intentional Innovation Foundation seeks enthusiastic individuals to join our team.</p>
</section>