<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Intentional Innovation Foundation</title>
  <link href="/assets/styles.css" rel="stylesheet" />
</head>
<body class="scroll-smooth">
  {% include "nav.njk" %}
  {% include "hero.njk" %}
  {% include "about.njk" %}
  {% include "programs.njk" %}
  {% include "involved.njk" %}
  {% include "contact.njk" %}
  {% include "footer.njk" %}
</body>
</html>